<%- include('header'); -%>
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis pariatur quo modi quod a est, veritatis ab
        ratione? Porro hic dolore ratione sint rerum eius excepturi autem odit nam eligendi quo dolor quos voluptatibus
        et officia, nemo blanditiis? Molestiae ipsum sequi sit itaque repudiandae voluptatibus vitae aperiam veritatis
        officiis eaque.</p>
    <%- include('footer'); -%>